@{
    ViewBag.Title = "About";
}
<!-- call to action 19 -->
<section class="w3l-call-to-action-19">
    <div class="action-19 section-gap">
        <div class="wrapper">
            <div class="callaction">
                <div class="d-grid grid-col-2 grid-action-19">
                    <div class="column2-action-19">
                        <img src="~/assets/images/about.jpg" alt="" />
                    </div>
                    <div class="column1-action-19">
                        <h2 class="call-head-action-19">
                            <a href="single.html">
                                Better
                                health care
                            </a>
                        </h2>
                        <p class="call-para-action-19">
                            Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Dignissimos earum tempore
                            deleniti error inventore ab perspiciatis culpa eligendi
                            repudiandae! Perspiciatis quaerat enim vitae totam magni
                            accusamus modi amet laborum earum.
                        </p>
                        <div class="main-action-19">
                            <a href="single.html" class="theme-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w3l-features-15">
    <!-- features15 block -->
    <section id="features15-block" class="section-gap">
        <div class="wrapper">
            <div class="section-title-white text-center">
                <h4>Our Services</h4>
                <p class="sub-paragraph-white">
                    Lorem, ipsum dolor sit amet consectetur
                    adipisicing
                    elit. Harum labore sed, veniam nisi sunt laboriosam ducimus, odio
                    aspernatur
                    fugiat minima blanditiis dignissimos.
                </p>
            </div>
            <div class="d-grid features15-col-3">
                <div class="features15-col-text d-grid">
                    <div class="features15-info">
                        <span class="fa fa-medkit" aria-hidden="true"></span>
                    </div>
                    <div class="features15-para">
                        <h4><a href="single.html">Outdoor Checkup</a></h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
                            laudantium culpa deleniti dolore pariatur veritatis
                            assumenda
                            quibusdam totam modi dolores itaque, animi perferendis
                            dolorem
                            blanditiis explicabo.
                        </p>
                    </div>
                </div>
                <div class="features15-col-text d-grid">
                    <div class="features15-info">
                        <span class="fa fa-user-md" aria-hidden="true"></span>
                    </div>
                    <div class="features15-para">
                        <h4><a href="single.html">Operation Theater</a></h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
                            laudantium culpa deleniti dolore pariatur veritatis
                            assumenda
                            quibusdam totam modi dolores itaque, animi perferendis
                            dolorem
                            blanditiis explicabo.
                        </p>
                    </div>
                </div>
                <div class="features15-col-text d-grid">
                    <div class="features15-info">
                        <span class="fa fa-ambulance" aria-hidden="true"></span>
                    </div>
                    <div class="features15-para">
                        <h4><a href="single.html">Pharmacy</a></h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
                            laudantium culpa deleniti dolore pariatur veritatis
                            assumenda
                            quibusdam totam modi dolores itaque, animi perferendis
                            dolorem
                            blanditiis explicabo.
                        </p>
                    </div>
                </div>
                <div class="features15-col-text d-grid">
                    <div class="features15-info">
                        <span class="fa fa-hospital-o" aria-hidden="true"></span>
                    </div>
                    <div class="features15-para">
                        <h4><a href="single.html">Blood Test</a></h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
                            laudantium culpa deleniti dolore pariatur veritatis
                            assumenda
                            quibusdam totam modi dolores itaque, animi perferendis
                            dolorem
                            blanditiis explicabo.
                        </p>
                    </div>
                </div>
                <div class="features15-col-text d-grid">
                    <div class="features15-info">
                        <span class="fa fa-stethoscope" aria-hidden="true"></span>
                    </div>
                    <div class="features15-para">
                        <h4><a href="single.html">Qualified Doctors</a></h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
                            laudantium culpa deleniti dolore pariatur veritatis
                            assumenda
                            quibusdam totam modi dolores itaque, animi perferendis
                            dolorem
                            blanditiis explicabo.
                        </p>
                    </div>
                </div>
                <div class="features15-col-text d-grid">
                    <div class="features15-info">
                        <span class="fa fa-wheelchair-alt" aria-hidden="true"></span>
                    </div>
                    <div class="features15-para">
                        <h4><a href="single.html">Emergency Care</a></h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
                            laudantium culpa deleniti dolore pariatur veritatis
                            assumenda
                            quibusdam totam modi dolores itaque, animi perferendis
                            dolorem
                            blanditiis explicabo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="w3l-specifications-6">
    <!-- /specifications -->
    <div class="specification-layout section-gap">
        <div class="wrapper">
            <div class="specification-inn">
                <h5>Medical</h5>
                <h2>Our Speciality Clinic</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                    ex molestiae sit, illo quidem ipsum eum in dicta
                    officia, quis dolore quam! Cupiditate sequi incidunt
                    voluptatum hic animi, sed numquam omnis. Quisquam facere
                    reprehenderit eos esse veritatis. Ea, exercitationem
                    laudantium!
                </p>
                <div class="grid grid-column-4">
                    <div class="column">
                        <div class="specify-gd">
                            <h6>Up to</h6>
                            <h3>190</h3>
                            <p>SATISFIED PATIENTS</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="specify-gd">
                            <h6>Up to</h6>
                            <h3>36</h3>
                            <p>REGULAR DOCTORS</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="specify-gd">
                            <h6>Up to</h6>
                            <h3>22</h3>
                            <p>DEPARTMENTS</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="specify-gd">
                            <h6>Up to</h6>
                            <h3>1560</h3>
                            <p>SERVANT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //specifications -->
</section>
