@{
    ViewBag.Title = "Contact";
}
<section class="w3l-contact-8">
    <div class="contacts-main section-gap">
        <div class="wrapper">
            <div class="d-grid contact">
                <div class="contact-info-left d-grid text-center">
                    <div class="contact-info">
                        <span class="fa fa-thumb-tack" aria-hidden="true"></span>
                        <h4>Address</h4>
                        <p>4885  Pretty View Lane, Lorem ipsum, Dolor sit amet, New York, USA</p>
                    </div>
                    <div class="contact-info">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        <h4>Phone</h4>
                        <p><a href="tel:+44 7834 857829">+44 7834 857829</a></p>
                        <p><a href="tel:+44 987 654 321">+44 987 654 321</a></p>
                    </div>
                    <div class="contact-info">
                        <span class="fa fa-envelope-open" aria-hidden="true"></span>
                        <h4>Mail</h4>
                        <p><a href="mailto:mail@example.com" class="email">mail@example.com</a></p>
                        <p><a href="mailto:mail@example.com" class="email">mail@example.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>