@{
    ViewBag.Title = "Home Page";
}

<section class="w3l-hero-headers-11">
    <div class="hero-header-11">
        <div class="hero-header-11-content">
            <div id="homepage-slider" class="st-slider">
                <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
                <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
                <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
                <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
                <div class="images">
                    <div class="images-inner">
                        <div class="image-slide">
                            <div class="banner-w3ls-1">
                                <div class="wrapper">
                                    <div class="slider-num d-grid grid-columns-auto">
                                        <h4>01<span>/03</span></h4>
                                        <p>Clinical</p>
                                    </div>
                                    <div class="d-grid grid-columns-auto-end">
                                        <div class="slider-text-w3ls">
                                            <span>Medical</span>
                                            <h4>Better health care</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur.</p>
                                            <a href="single.html" class="action"> Read More </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-slide">
                            <div class="banner-w3ls-2">
                                <div class="wrapper">
                                    <div class="slider-num d-grid grid-columns-auto">
                                        <h4>02<span>/03</span></h4>
                                        <p>Clinical</p>
                                    </div>
                                    <div class="d-grid grid-columns-auto-end">
                                        <div class="slider-text-w3ls">
                                            <span>Medical</span>
                                            <h4>Better health care</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur.</p>
                                            <a href="single.html" class="action"> Read More </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-slide">
                            <div class="banner-w3ls-3">
                                <div class="wrapper">
                                    <div class="slider-num d-grid grid-columns-auto">
                                        <h4>03<span>/03</span></h4>
                                        <p>Clinical</p>
                                    </div>
                                    <div class="d-grid grid-columns-auto-end">
                                        <div class="slider-text-w3ls">
                                            <span>Medical</span>
                                            <h4>Better health care</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur consequatur.</p>
                                            <a href="single.html" class="action"> Read More </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="labels">
                    <div class="fake-radio">
                        <label for="slide1" class="radio-btn"></label>
                        <label for="slide2" class="radio-btn"></label>
                        <label for="slide3" class="radio-btn"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>